# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment files
.env
.env.local
.env.development
.env.production

# Editor / OS
.vscode/
.DS_Store

# Build
/build/
/dist/

# Test / temp
src/pages/api/sendEmailTest.js
test/memos.test.js
