# Environment and editor-related files
node_modules/
.vscode/

# Build or compiled files
/build/
/dist/
/out/

# Environment configuration files
.env

src/pages/api/sendEmailTest.js
test/memos.test.js