# Environment and editor-related files
node_modules/
.vscode/

# Build or compiled files
/build/
/dist/
/out/

# Environment configuration files
.env

tracking-app/src/pages/api/sendEmailTest.js
tracking-app/test/memos.test.js