/* Calendar styles */
.react-calendar {
  width: 100% !important;
  max-width: 600px !important;
  margin: 0 auto !important;
  border-radius: 10px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
  border: #e6e6e6 !important;
}

.react-calendar__navigation {
  height: 45px !important;
  margin-bottom: 10px !important;
}

.react-calendar__navigation button {
  min-width: 35px !important;
  background: none !important;
  border: none !important;
  font-size: 0.9rem !important;
  color: #495057 !important;
  cursor: pointer !important;
}

.react-calendar__tile {
  padding: 0.75em !important;
  text-align: center !important;
  cursor: pointer !important;
}

.react-calendar__month-view {
  margin: auto 15px 15px 15px !important;
}

.react-calendar__month-view__days {
  border-radius: 15px !important;
}

.react-calendar__month-view__weekdays {
  height: 45px !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  color: #495057 !important;
}

.react-calendar__tile--now {
  background-color: #e6e6e6 !important;
}

.react-calendar__tile--active {
  background-color: #9ec879 !important;
}

.react-calendar__month-view__days button {
  border: 0.5px solid #e6e6e6 !important;
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
  text-decoration: none !important;
}

/* Responsive styles */
@media (max-width: 768px) {
  .react-calendar {
    width: 100% !important;
    margin: 0 auto !important;
  }

  .react-calendar__navigation {
    height: 40px !important;
    margin-bottom: 8px !important;
  }

  .react-calendar__navigation button {
    font-size: 0.75rem !important;
  }

  .react-calendar__tile {
    padding: 0.5em !important;
  }

  .react-calendar__month-view__weekdays {
    height: 40px !important;
    font-size: 0.75rem !important;
  }
}

@media (max-width: 480px) {
  .react-calendar {
    width: 100% !important;
    margin: 0 auto !important;
  }

  .react-calendar__navigation {
    height: 35px !important;
    margin-bottom: 6px !important;
  }

  .react-calendar__navigation button {
    font-size: 0.6rem !important;
  }

  .react-calendar__tile {
    padding: 0.4em !important;
  }

  .react-calendar__month-view__weekdays {
    height: 35px !important;
    font-size: 0.6rem !important;
  }
}
