/* Calendar styles */
.react-calendar {
    width: 600px !important;
    margin: 0 auto !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
    border:#e6e6e6 !important;
  }
  
  .react-calendar__navigation {
    height: 50px !important;
    margin-bottom: 10px !important;
  }
  
  .react-calendar__navigation button {
    min-width: 40px !important;
    background: none !important;
    border: none !important;
    font-size: 1rem !important;
    color: #495057 !important;
    cursor: pointer !important;
  }
  
  .react-calendar__tile {
    padding: 1em !important;
    text-align: center !important;
    cursor: pointer !important;
  }
  
  .react-calendar__month-view {
    margin: auto 15px 15px 15px !important;
  }

  .react-calendar__month-view__days {
    border-radius: 15px !important;
  }
  
  .react-calendar__month-view__weekdays {
    height: 50px !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    color: #495057!important;
  }
  
  .react-calendar__tile--now {
    background-color: #e6e6e6 !important;
  }
  
  .react-calendar__tile--active {
    background-color: #9ec879 !important;
  }
  
  .react-calendar__month-view__days button {
    border: 0.5px solid #e6e6e6 !important;
  }
  
  .react-calendar__month-view__weekdays__weekday abbr[title] {
    text-decoration: none !important;
  }
  